.main .hero {
  padding-bottom: 250px;
}
.main .hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .hero .container .hero-left {
  padding-top: 241px;
}
.main .hero .container .hero-left h1 {
  font-weight: 600;
  font-family: Roboto;
  font-size: 50px;
  color: #1b075d;
}
.main .hero .container .hero-left-p {
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #6e7191;
  text-align: left;
  max-width: 591px;
  margin-bottom: 34px;
}
.main .hero .container .hero-left-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  margin-top: 50px;
}
.main .hero .container .hero-left-flex__f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.main .hero .container .hero-left-flex__f a * {
  width: 40px;
  height: 40px;
  color: #1b075d;
}
.main .hero .container .hero-left-flex__f a *:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main .hero .container .hero-left-flex__f img {
  border: 1px solid #dcddeb;
  border-radius: 50%;
  padding: 10px;
}
.main .hero .container .hero-left-flex__f__p1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1.6000000238px;
  text-align: left;
  color: #6e7191;
  margin-bottom: 5px;
}
.main .hero .container .hero-left-flex__f__p2 {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #211f54;
  max-width: 223px;
}
.main .hero .container .hero-right img {
  width: 100%;
  padding-top: 130px;
}
.main .about {
  padding-bottom: 250px;
}
.main .about .container .about-top h1 {
  font-family: Roboto;
  font-size: 48px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #211f54;
  margin-bottom: 21px;
}
.main .about .container .about-top p {
  font-family: Roboto;
  margin-right: auto;
  margin-left: auto;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #6e7191;
  max-width: 648px;
  margin-bottom: 58px;
}
.main .about .container .about-top p span {
  color: rgb(148, 130, 28);
}
.main .about .container .about-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 56px;
}
.main .about .container .about-card img {
  margin-bottom: 39px;
  max-width: 100%;
}
.main .about .container .about-card-item h4 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #211f54;
  margin-bottom: 16px;
}
.main .about .container .about-card-item p {
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #6e7191;
}
.main .service {
  padding-bottom: 250px;
}
.main .service .container h1 {
  font-family: Roboto;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #211f54;
  padding-bottom: 35px;
}
.main .service .container p {
  font-family: Roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #211f54;
  padding-bottom: 70px;
}
.main .service .container .service-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}
.main .service .container .service-card .icon-web * {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.main .service .container .service-card-items {
  border: 1px solid #eff0f6;
  border-radius: 10px;
  padding: 83px 38px 28px 38px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
}
.main .service .container .service-card-items h4 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #211f54;
}
.main .service .container .service-card-items p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #6e7191;
}
.main .service .container .service-card-items img {
  max-width: 100%;
  margin-bottom: 24px;
}
.main .service .container .service-card-items:hover {
  -webkit-box-shadow: 0px 2px 20px 3px #0075ff;
          box-shadow: 0px 2px 20px 3px #0075ff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.main .service .container .service-card-items2 {
  border: 1px solid #eff0f6;
  padding: 83px 38px 28px 38px;
  text-align: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.main .service .container .service-card-items2 h4 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #211f54;
}
.main .service .container .service-card-items2 p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #6e7191;
}
.main .service .container .service-card-items2 img {
  max-width: 100%;
  margin-bottom: 24px;
}
.main .service .container .service-card-items2:hover {
  -webkit-box-shadow: 0px 2px 20px 3px #0075ff;
          box-shadow: 0px 2px 20px 3px #0075ff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.main .service .container .service-card-items3 {
  border: 1px solid #eff0f6;
  padding: 83px 38px 28px 38px;
  text-align: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.main .service .container .service-card-items3 h4 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #211f54;
}
.main .service .container .service-card-items3 p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #6e7191;
}
.main .service .container .service-card-items3 img {
  max-width: 100%;
  margin-bottom: 24px;
}
.main .service .container .service-card-items3:hover {
  -webkit-box-shadow: 0px 2px 20px 3px #0075ff;
          box-shadow: 0px 2px 20px 3px #0075ff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.main .skills {
  padding-bottom: 250px;
}
.main .skills .container h1 {
  font-family: Roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #211f54;
  padding-bottom: 35px;
  padding-bottom: 100px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.main .skills .container .skills-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.main .skills .container .skills-card__items {
  padding: 30px 50px;
  border-radius: 10px;
}
.main .skills .container .skills-card__items {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d54c);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main .skills .container .skills-card__items * {
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  font-family: Roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  padding-bottom: 35px;
  padding-bottom: 50px;
}
.main .skills .container .skills-card__items *:first-child {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
.main .work {
  padding-bottom: 200px;
}
.main .work .container .link-see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  font-family: Roboto;
  font-size: 28px;
}
.main .work .container button {
  border-radius: 10px;
  background-color: gold;
  color: white;
}
.main .work .container h1 {
  font-family: Roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #211f54;
  padding-bottom: 35px;
  padding-bottom: 80px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.main .work .container .work-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.main .work .container .work-card-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.main .work .container .work-card-item__flex {
  padding: 15px 30px 90px 30px;
  background-color: rgb(197, 199, 202);
  overflow: hidden;
  margin-top: -10px;
}
.main .work .container .work-card-item__flex a {
  font-family: Roboto;
}
.main .work .container .work-card-item__flex a:hover {
  color: blue;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.main .work .container .work-card-item__flex span {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}
.main .work .container .work-card-item__flex h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  color: #211f54;
}
.main .work .container .work-card-item__flex p {
  font-family: Roboto;
  padding-bottom: 20px;
}
.main .work .container .work-card-item img {
  width: 100%;
}

@media (max-width: 1044px) {
  .main .work .container .work-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .main .work .container .work-card {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1230px) {
  .articles .container .articles-card .articles-card-item .articles-card-item__card .articles-card-item__card__flex {
    gap: 20px;
  }
  .main .contact {
    padding: 5px 5px;
  }
  .main .contact .container .flex {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1050px) {
  .main .hero .container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 550px) {
  .main .hero .container {
    gap: 0;
  }
  .main .hero .container .hero-right {
    margin-top: -100px;
  }
  .main .hero .container .hero-left {
    padding-top: 150px;
  }
  .main .hero .container .hero-left h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: -10px;
  }
  .main .hero .container .hero-left p {
    text-align: center;
  }
  .main .hero .container .hero-left .hero-left-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 650px) {
  .main .about .container .about-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .main .contact .container .contact-left h3 {
    text-align: center;
  }
  .main .contact .container .contact-left h5 {
    text-align: center;
  }
  .main .contact .container .contact-left-flex__2 {
    margin-right: auto;
    margin-left: auto;
  }
  .main .contact .container .contact-left-flex__2 img {
    margin: 0 auto;
    display: block;
  }
  .main .contact .container .contact-left-flex__2 p {
    text-align: center;
  }
  .main .contact .container .contact-left-flex__2 h2 {
    text-align: center;
  }
  .main .contact .container .contact-left h2 {
    text-align: center;
  }
  .main .contact .container .contact-left p {
    text-align: center;
  }
  .main .contact .container .contact-left .contact-left-flex {
    margin-right: auto;
    margin-left: auto;
  }
  .main .contact .container .contact-right {
    padding: 5px 5px;
  }
  .main .contact .container .contact-right-flex .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
}
@media (max-width: 550px) {
  .main .articles .container .articles-top h1 {
    text-align: center;
    padding-bottom: 20px;
  }
  .main .articles .container .articles-top-btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .about .container .about-card {
    grid-template-columns: 1fr;
  }
  .main .covid .container .covid-area {
    gap: 1px;
  }
  .main .covid .container .covid-area .covid-area-right {
    text-align: center;
  }
  .main .covid .container .covid-area .covid-area-right h5 {
    text-align: center;
  }
  .main .covid .container .covid-area .covid-area-right h1 {
    text-align: center;
    font-size: 35px;
  }
  .main .covid .container .covid-area .covid-area-right p {
    text-align: center;
  }
  .main .covid .container .covid-area .covid-area-right__flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 970px) {
  .main .service .container .service-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .main .covid .container .covid-area {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 590px) {
  .main .service .container .service-top h1 {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
  }
  .main .service .container .service-top button {
    display: block;
    margin: 0 auto;
  }
  .main .service .container .service-card {
    grid-template-columns: 1fr;
  }
}