.footer {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 50px;
  color: white;
  font-weight: 500;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #021e34;
  color: #fff;
  position: relative;
  overflow: hidden;

  .icon {
    color: #fff;
    font-size: 24px;
    position: absolute;
    left: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: rgb(30, 219, 52);

    &.animated {
      animation: slideInFromLeft 1s ease-in-out forwards;
    }
  }

  span {
    margin-left: 10px;
    z-index: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 10px;
    opacity: 1;
  }
}
